<section class="chat-section">

    <div class="main-wrapper">

        <div class="brand">
            <i class="fa-solid fa-square-phone fa-2x"></i>
            <h3>Wassup</h3>
    
        </div>
    
        <div class="message-area">
    
    
        </div>
    
        <div class="textarea-div">
    
            <textarea rows="1" cols="30" type="text" id="textarea" placeholder="Write a message"></textarea>
            <i class="fa-solid fa-circle-chevron-right fa-3x" id="send"></i>
        </div>

    </div>

</section>